.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  font-family: "Roboto", sans-serif, "Times New Roman", Times, serif;

  .register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    input {
      font-family: "Roboto", sans-serif;
      font-size: 1.1rem;
      text-align: center;
    }

    .submit {
      padding: 4px 6px;
    }
  }
}
