nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif, "Times New Roman", Times, serif;
  }
  a:hover {
    text-decoration: underline;
    color: gray;
  }
}
